html,body {
    height: 100%;
    width: 100%;
}
  
.workExperienceDetail {
    animation: moveInBottom .4s ease-out .2s;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(20px)
    }
    100%{
        opacity: 1;
        transform: translate(0)
    }
}
