<!doctype html>
<html>
    <head>
        <title>About Me - Tanawit Pattanaveerangkoon</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto" rel="stylesheet">
    </head>
    <body>
        <div class="frame">
            <div class="container"> 
                <h1 class="header">Tanawit Pattanaveerangkoon</h2>
                <div class="row"> 
                    <div class="col-md-3" style="margin-top:30px !important;">
                        <div class="side-bar"> 
                            <ul class="navigation">
                                <li><a href="">About me</a></li>
                                <li><a href="workexperience">Experience</a></li>
                                <li><a href="education">Education</a></li>
                                <li><a href="">Projects</a></li>
                                <li><a href="">Awards</a></li>
                            </ul>
                        </div>
                        <br>
                        <div class="side-bar"> 
                            <h5 class="section-name">Profile</h5>
                            <img src="images/profile.jpg" class="img-responsive" alt="">
                            <p style="padding:20px !important;;">I am a software engineer.</p>
                        </div>
                    </div>
                    <div class="col-md-9" style="margin-top:40px !important;">
                        <div class="main-content"> 
                            <h5 class="section-name">About Me</h5>
                            <div style="padding:30px !important;;">
                                <div class="col-md-6"></div>
                                    Hello! I am Tanawit (Oui)
                                </div>
                                <div class="col-md-6">
                                    Name: Tanawit Pattanaveerangkoon<br>
                                    Location: Bangkok, Thailand<br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
