<!doctype html>
<html>
    <head>
        <title>Experience - Tanawit Pattanaveerangkoon</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto" rel="stylesheet">
    </head>
    <body>
        <div class="frame">
            <div class="container"> 
                <h1 class="header">Tanawit Pattanaveerangkoon</h1>
                <div class="row"> 
                    <div class="col-md-3" style="margin-top:30px !important;">
                        <div class="side-bar"> 
                            <ul class="navigation">
                                <li><a href="">About me</a></li>
                                <li><a href="workexperience">Experience</a></li>
                                <li><a href="education">Education</a></li>
                                <li><a href="">Projects</a></li>
                                <li><a href="">Awards</a></li>
                            </ul>
                        </div>
                        <br>
                        <div class="side-bar"> 
                            <h5 class="section-name">Profile</h5>
                            <img src="images/profile.jpg" class="img-responsive" alt="">
                            <p style="padding:20px !important;;">I am a software engineer.</p>
                        </div>
                    </div>
                    <div class="col-md-9" style="margin-top:40px !important;">
                        <div class="main-content"> 
                            <h5 class="section-name">Education</h5>
                            <div class="work-experience" style="padding:30px !important;;">
                                <div class="content">
                                    <div class="media-left"><span class="work-duration">2014-2018</span></div>
                                    <div class="media-body">
                                        <div class="company-logo"><img src="images/chula.png" alt=""></div>
                                        <h6>Chulalongkorn University</h6>
                                        <p>Bachelor of Science in Statistics</p>
                                        <p>{{.CompanyLocation}}</p>
                                        <p style="margin-top:10px !important;">
                                            <b>Leadership</b><br>
                                            • Head of Statistics Department Exhibition in Banshi Chula Expo 2017.<br>
                                            • CU Statistics Club invited Excel Lecturer.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
