<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Experience - Tanawit Pattanaveerangkoon</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto" rel="stylesheet">
    </head>
    <body>
        <div class="frame">
            <div class="container"> 
                <h1 class="header visible-xs">Tanawit P.</h1>
                <h1 class="header hidden-xs">Tanawit Pattanaveerangkoon</h1>
                <div class="row"> 
                    <div class="col-md-3 col-sm-12">
                        <div class="navigation-frame"> 
                            <ul class="navigation">
                                <li><a href="">About me</a></li>
                                <li><a href="workexperience">Experience</a></li>
                                <li><a href="education">Education</a></li>
                                <li><a href="">Projects</a></li>
                                <li><a href="">Awards</a></li>
                            </ul>
                        </div>
                        <div class="profile-frame hidden-xs hidden-sm"> 
                            <h5 class="section-name">Profile</h5>
                            <img src="images/profile.jpg" class="img-responsive" alt="">
                            <p>I am a software engineer.</p>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-12">
                        <div class="main-content"> 
                            <h5 class="section-name">Experience</h5>
                            <div class="work-experience">
                                {{range .}}
                                    <div class="content">
                                        <div class="media-left">
                                            {{if not .IsCurrentWork}}
                                                <h6 class="work-duration hidden-xs hidden-sm">{{.StartMonth}} {{.StartYear}}<br>-<br>{{.EndMonth}} {{.EndYear}}</h6>
                                                <h6 class="work-duration visible-xs visible-sm">{{.StartMonth}} {{.StartYear}}-{{.EndMonth}} {{.EndYear}}</h6>
                                            {{else}}
                                                <h6 class="work-duration hidden-xs hidden-sm">{{.StartMonth}} {{.StartYear}}<br>-<br>Present</h6>
                                                <h6 class="work-duration visible-xs visible-sm">{{.StartMonth}} {{.StartYear}}-Present</h6>
                                            {{end}}
                                        </div>
                                        <div class="media-body">
                                            <div class="company-logo hidden-xs"><img src="images/{{.CompanyImagePath}}" alt=""></div>
                                            <h6>{{.Position}}</h6>
                                            <p class="company-name">{{.CompanyName}}</p>
                                            <p class="company-location">{{.CompanyLocation}}</p>
                                            <p style="margin-top:10px !important;">
                                                {{range .Description}}
                                                    • {{.}}<br>
                                                {{end}}
                                            </p>
                                        </div>
                                    </div>
                                {{end}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
