<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css" /> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <title>Experience</title>
    </head>
    <body>
        <div class="container">
            <h1>Experience</h1>
            <hr/>
            <div class="workExperienceDetail">
                {{range .}}
                    <div class="row">
                        <div class="col-sm-8"><b>{{.CompanyName}}</b></div>
                        <div class="col-sm-4" align="right"><b>{{.CompanyLocation}}</b></div>
                        <div class="col-sm-8">{{.Position}}</div>
                        {{if not .IsCurrentWork}}
                            <div class="col-sm-4" align="right">{{.StartMonth}} {{.StartYear}}-{{.EndMonth}} {{.EndYear}}</div>
                        {{else}}
                            <div class="col-sm-4" align="right">{{.StartMonth}} {{.StartYear}}-Present</div>
                        {{end}}
                        <ul style="list-style-type:type:square;">
                        {{range .Description}}
                            <li>{{.}}</li>
                        {{end}}
                        </ul>
                    </div>
                {{end}}
            </div>
        </div>
    </body>
</html>